.header {
    background-color: #111;
    padding: 15px 0;
}

.header-container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    height: 55px;
}

.nav a {
    color: white;
    margin-left: 20px;
    font-weight: 500;
}

.nav a.active,
.nav a:hover {
    color: #00d4ff;
}
