.productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
}

.producto {
    background: white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 5px 12px rgba(0,0,0,0.1);
}

.producto img {
    width: 100%;
    height: 160px;
    object-fit: contain;
}

.producto h3 {
    margin: 10px 0;
}

.producto p {
    font-weight: bold;
    color: #28a745;
}
.producto button {
    margin-top: 10px;
    background-color: #28a745;
}